#data-hd-l {width:180px}

/* EDIT (only horizontal) */

table.t-data {background-color:#fafafa;/*border:1px solid #d0d0d0*/}
table.t-data th,
table.t-data td {padding:5px;vertical-align:middle;border:none}
table.t-data th {padding:5px 8px 5px 5px;width:150px;text-align:right;background-color:#f4f4f4;/*background-color:#e4e4e4;*/color:#555555}
table.t-data td {background-color:#f4f4f4}

table.t-data.preview td {background-color:#ffffff;border:none}
table.t-data.preview td:first-child {width:100px}

table.t-data tr.formsubmit th,
table.t-data tr.formsubmit td {padding:10px;background-color:#ffffff;text-align:right}

/* inspection results */

table.t-item {}
table.t-item th {padding:5px;vertical-align:middle;font-size:10pt;/*background-color:#e2e2e2;background:linear-gradient(to bottom,#cfcfcf,#eeeeee)*/}
table.t-item td {padding:4px;vertical-align:middle;font-size:10pt;border-top:solid 1px #dddddd}
table.t-item th,
table.t-item th a {font-weight:normal;color:#aaaaaa;text-decoration:none}
table.t-item th a:hover {color:#666666;text-decoration:underline}
table.t-item td.c-issuedate,
table.t-item td.c-title,
table.t-item td.c-author,
table.t-item td.c-action {width:130px}

/* POST */

div.separator {display:none}
div.post {margin:5px 0 10px 0;padding:0;border-top:solid 1px #dddddd}
div.post-P {background-color:#f0f0f0;border:solid 1px #e5e5e5;border-radius:3px}
  div.post-P th {border-bottom:solid 1px #e5e5e5}
div.post-R,div.post-F,div.post-D {margin:5px 0 0 30px}
  div.view-c div.post {margin-top:0}
  table.post {}
  table.post th {padding:5px;vertical-align:middle}
  table.post td {padding:4px;vertical-align:top}
  table.post th.c-ico,
  table.post td.c-ico {width:25px;padding:5px;text-align:center}
  table.post th.c-ico i, td.c-ico i {color:#777777;font-size:12pt}
  table.post td.c-msg {padding:5px 4px}
  p.post-attr {float:right;margin:0;padding:0;font-size:10pt;font-weight:normal}
  p.post-title {margin:0;padding:0;font-weight:bold}
   span.wisheddate {font-weight:normal}
  p.post-attr a, p.post-title a {font-weight:normal}
  span.post-num {padding:0 5px;background-color:#f0f0f0;font-weight:bold}
    p.post-button {margin:5px 0 2px 0;padding:0}
    a.post-button {padding:3px 8px 3px 0;color:#666666;font-size:9pt;text-decoration:underline}
    span.post-modif {padding:3px 8px 3px 0;}
    a.post-button:hover {color:#0000ff}
  span.post-modif {display:inline-block;margin:0;padding:3px 0;font-size:9pt;color:#666666}
  span.post-modif a {font-size:9pt;color:#666666;text-decoration:underline}
  span.post-modif a:hover {color:#0000ff}
  span.post-location {font-size:9pt}
  p.post-sign {margi:10px 0 0 0;color:#888888}

div.pg-form_edit input#title {width:95%}
div.pg-form_edit textarea#text {display:block;width:95%;resize:vertical}
div.pg-form_edit i.fa-calendar {color:#555555;cursor:pointer}
div.pg-form_edit i.fa-calendar:hover {color:#0000ff}
p.attachment {margin:5px 0}

p.msgbody {margin:0}
a.msgbody {}

div.quotetitle,
div.codetitle {margin:1px;max-width:600px;color:#888888;font-style:italic}
div.quote {margin:1px 1px 6px 1px;max-width:600px;padding:3px 5px;background-color:#f4f4f4;color:#888888;border-left:solid 5px #d0d0d0}
div.code {margin:1px 1px 6px 1px;max-width:600px;padding:3px;font-family:Courier,sans-serif;overflow:auto;white-space:pre;background-color:#E4FFCC;border-left:solid 5px #d0d0d0}
div.imgmsg {margin:5px 0 0 0;width:550px;overflow:auto}
img.imgmsg {border-style:solid;border-width:1px;border-color:#eeeeee}

/* PICTURE */

div.picbox {width:130px;min-height:100px;padding:6px 2px 2px 2px;text-align:center;border:1px solid #DDDDDD;color:inherit;background-color:white}
 
div.picboxmsg {width:130px;float:right;padding:6px 4px 4px 4px;margin:2px;background-color:#f0f0f0;text-align:center;border:1px solid #DDDDDD;border-radius:3px}
div.picboxmsg p {margin:0;font-size:9pt;overflow:hidden;text-overflow:ellipsis}
div.picboxmsg p a {font-size:9pt;overflow:hidden;text-overflow:ellipsis}
 div.post-R div.picboxmsg,
 div.post-F div.picboxmsg,
 div.post-D div.picboxmsg {background-color:#ffffff}

/* PAGER */

table.pagertop {margin:0 0 5px 0;padding:0 0 5px 0;width:100%}
table.pagerbot {margin:5px 0 0 0;padding:5px 0 0 0;width:100%}
table.pagertop td.pagerleft,
table.pagerbot td.pagerleft {text-align:left}
table.pagertop td.pagerright {text-align:right;vertical-align:bottom}
table.pagerbot td.pagerright {text-align:right;vertical-align:top}
p.pager {display:inline-block;margin:0;padding:0}
p.sorter {display:inline-block;margin:0 0 0 10px;padding:0}
  p.sorter a {color:#888888}
  p.sorter a:hover {color:#0000ff}
p.pager span.current,
p.pager a  {display:inline-block;margin:0;padding:2px 4px 3px 4px;border:solid 1px #eeeeee;font-size:10pt;font-weight:normal;text-decoration:none;border-radius:2px}
p.pager span.current {border-color:#aaaaaa;font-weight:bold}
p.pager a:hover {background-color:#f0f0f0;border-color:#dddddd;text-decoration:none}

/* special */

a.gmappoint {outline:none}
img.gmappoint {vertical-align:middle;padding:0 0 1px 0;border:solid 1px #8888FF;border-radius:3px}
img.gmappoint:hover {background-color:#BBBBFF;border:solid 1px #6666FF}

div.quickreply {margin-top:15px;padding:4px 10px 6px 10px;background-color:#f0f0f0;border:solid 1px #e5e5e5;border-radius:3px}
div.quickreply td {vertical-align:top}
div.quickreply td.title {vertical-align:middle}
div.quickreply span.title {color:#888888;font-weight:bold}
div.quickreply td.value {padding:5px 0}
div.quickreplyheader {margin:0 5px 0 0;padding:0;vertical-align:top}
div.quickreply td.commands {width:130px}
div.quickreply input[type=submit] {margin:0 10px 10px 5px;width:125px}
div.quickreply input#title {width:95%}
div.quickreply textarea#text {width:95%;resize:vertical}
a.bbc {display:inline-block;margin:2px 4px 2px 0;padding:2px 5px;color:#444444;border:1px solid #cccccc;border-radius:2px}
a.bbc:hover {color:#222222;background-color:#ffffff}

div#previewcontainer {position:absolute;left:15%;top:25%;padding:15px 20px;border:1px solid black;background-color: #ffffff;width:70%;height:50%;z-index:100}
div#fadecontainer {position:absolute;left:0%;top:0%;background-color:black;opacity:.60;width:100%;height:100%;z-index:90}

/* ==== MEDIA LARGE ==== */

@media screen and (min-width:1024px)
{
#data-hd-l {width:250px}
div#previewcontainer {position:absolute;left:25%;top:25%;padding:15px 20px;border:1px solid black;background-color: #ffffff;width:50%;height:50%;z-index:100}
div.post-R,div.post-F,div.post-D {margin:5px 0 0 45px}
}

/* ==== MEDIA SMALL ==== */

@media screen and (min-width:641px) and (max-width:870px)
{
#data-hd-l {display:block;width:100%}
#data-hd-r {display:block;width:100%}
div#previewcontainer {position:absolute;left:10%;top:20%;padding:10px 15px;border:1px solid black;background-color: #ffffff;width:80%;height:60%;z-index:100}
div#fadecontainer {position:absolute;left:0%;top:0%;background-color:black;width:100%;height:100%;z-index:90;opacity:.60}
div.post-R,div.post-F,div.post-D {margin:5px 0 0 0}
}

/* ==== MEDIA EXTRA SMALL ==== */

@media screen and (min-width:501px) and (max-width:640px)
{
#data-hd-l {display:none}
#data-hd-r {display:block;width:100%}
div#previewcontainer {position:static;left:0;top:0;padding:0;background-color:transparent;border:none;width:auto;height:auto;z-index:auto}
div#fadecontainer {display:none}
div.post-R,div.post-F,div.post-D {margin:5px 0 0 0}
}

@media handheld,screen and (max-width:500px)
{
#data-hd-l {display:none}
#data-hd-r {display:block;width:100%}
div#previewcontainer {position:static;left:0;top:0;padding:0;background-color:transparent;border:none;width:auto;height:auto;z-index:auto}
div#fadecontainer {display:none}
div.post-R,div.post-F,div.post-D {margin:5px 0 0 0}
}