body {margin:10px;padding:0;background-color:#e2e2e2;font-size:10pt;color:#444444;font-family:"Lucida Sans Unicode",Verdana,Arial}
#page {margin:0 auto 0 auto;width:850px;text-align:left}

input,textarea,select,optgroup,option {font-size:10pt;font-weight:normal;color:#444444;font-family:"Lucida Sans Unicode",Verdana,Arial}
a {color:#15C;text-decoration:none}
a:hover {color:#0000ff;text-decoration:underline}
a.lastitem {color:#aaaaaa;text-decoration:none}
a.lastitem:hover {color:#15C}
a.gmappoint {color:#73B9FF;text-decoration:none;font-size:12pt}
a.gmappoint:hover {color:#15C}
i.private {color:#ff0000}
i.disabled {color:#dddddd}
h1 {margin-top:10px;margin-bottom:5px;font-size:16pt;font-weight:bold}
h2 {margin-top:10px;margin-bottom:5px;font-size:14pt;font-weight:bold}
p.csv {margin:3px 0;text-align:right}
tr.hover:hover {background-color:#f8f8f8}
#data-title, #item_reference {margin:2px 0 8px 0;font-size:14pt;font-style:italic;color:#AAAAAA}
#data-subtitle {margin:0 0 10px 0;font-size:11pt;font-style:italic;color:#AAAAAA}

/* BANNER MENU WELCOME FOOTER */

#banner {margin:0;min-height:57px;background:#0C4C8C;background:#0C4C8C;background:linear-gradient(to bottom, #0C4C8C 20%, #156AC2);box-shadow:0px 2px 6px 2px #bbbbbb}
  #logo {margin-top:3px;float:left;width:150px;height:50px;border-width:0}
  #banner a, #nobanner a {text-decoration:none}
  #banner a:hover, #nobanner a:hover {text-decoration:underline}
  #banner a {color:white}
  #menulang {margin:0;padding:5px 6px 0 0;color:#aaaaaa;text-align:right}
  #menulang a.actif {color:#aaaaaa} #menulang a.actif:hover {cursor:default;text-decoration:none}

#nobanner {margin:0;color:#555555}
  #nobanner #logname, #nobanner #menulang {padding:0 0 5px 0}
  #nobanner a {color:#555555}

/* menu text block style */
#menuapp span,
#menuapp a {display:inline-block;margin:0 0 0 4px;padding:4px 10px;font-size:12pt;font-weight:normal;text-decoration:none}
#menuapp a:hover {text-decoration:underline}
/* menu layout */
#menuapp {padding:3px 5px;background-color:#f0f0f0;text-align:right;box-shadow:0px 2px 6px 2px #cccccc}
#menuapp.withwelcome {margin:0}
#menuapp p {margin:0;padding:0;text-align:right}
#menuapp span {border-left:solid 2px #ffffff;color:#888888;text-shadow:1px 1px 0 white}
#menuapp a {border-left:solid 2px #ffffff;text-shadow:1px 1px 0 white}
/* when menu is embeded in the banner */
#banner #menuapp {margin:10px 0 0 0;padding:0;border-width:0;background:transparent;box-shadow:none}
#banner #menuapp p {margin:0;padding:5px 5px 0 0;text-align:right}
#banner #menuapp span {border-left:solid 1px #0C4C8C;color:#888888;text-shadow:none}
#banner #menuapp a {border-left:solid 1px #0C4C8C;color:#ffffff;text-shadow:none}

/* welcome */
#welcome {margin:0;padding:20px;background-color:#333333;color:#e0e0e0;font-size:11pt;box-shadow:0px 6px 6px 2px #bbbbbb}
#welcome a {color:#e0e0e0;text-decoration:underline;font-size:11pt}
#welcome a:hover {color:#ffffff;text-decoration:underline}

/* FOOTER */

#footer {margin:5px 0;padding:0px;color:#999999}
#footer-l {float:left}
#footer-r {text-align:right}
#footer a {color:#777777}
#footer a:hover {color:#555555}

/* BODY */

#body {margin-bottom:5px;background-color:#ffffff;box-shadow:0px 4px 6px #bbbbbb}

#body-hd {height:33px}
#body-hd-l {float:left;padding:7px 5px 5px 10px;font-size:12pt}
#body-hd-l a {font-size:12pt;font-weight:normal}
#body-hd-r {text-align:right;padding:5px 10px 5px 5px}
#body-hd-r a i {color:#aaaaaa}
#body-hd-r a i:hover {color:#0000ff}

#body-ct {padding:20px}

#body-ft {margin:0;padding:7px;}
#body-ft-l {float:left;margin:3px 5px;font-size:9pt}
#body-ft-l a {font-size:9pt}
#body-ft-r {text-align:right}

/* data titles and data options */

#data-hd-l {float:left}
#data-hd-r {min-height:50px;vertical-align:top;text-align:right}
#optionblock {display:inline-block;height:50px}
#optionsbar,#showoptions,#showeditor {display:inline-block;vertical-align:top}
#optionsbar {padding:6px;background-color:#009955;color:#ffffff;font-size:10pt}
#optionsbar input[type=text] {padding:2px 4px;border:none}
#optionsbar select {padding:2px 5px 2px 2px;max-width:125px;border:none}
/* Use this to make the options bar looking inside the form when editing
#form_edit #optionsbar {height:auto;background-color:#f4f4f4;color:#555555;border-color:#d0d0d0 #d0d0d0 #f4f4f4 #d0d0d0;border-radius:0}
*/
#showoptions i, #showeditor i {margin-right:5px;color:#dddddd;cursor:pointer}
#showoptions i:hover, #showeditor i:hover {color:#009955}

/* BUTTONS and INPUT */

a.button {display:inline-block;margin:0;padding:5px 10px;vertical-align:middle;background-color:#f0f0f0;border:solid 1px #e5e5e5;border-radius:2px;color:#666666;text-decoration:none}
a.button:not(.disabled):hover {background-color:#e5e5e5;border-color:#c5c5c5;cursor:pointer;color:#333333}
a.button img {vertical-align:middle}
a.button.disabled {color:#aaaaaa}
a.button.disabled:hover {color:#aaaaaa}
a.button.pageback,
a.button.pageaction,
a.button.pagesearch {margin:0 4px 0 0}

fieldset i.fa {margin:0 10px 0 0;color:#888888}
i.close {padding:4px;color:#666666}
i.close:hover {color:#000000;background-color:#dddddd;border-radius:3px}
input,textarea {margin:0;background-color:white;border:solid 1px #d0d0d0}
input[type=text],
input[type=date],
input[type=number],
input[type=url],
input[type=email],
input[type=password] {padding:5px 8px;vertical-align:middle}
input[type=radio] {margin:0 4px 0 2px}
input[type=submit],
input[type=button] {padding:4px 10px;vertical-align:middle;background-color:#1377DB;color:white;border:none;text-decoration:none;border-radius:2px}
input[type=submit].inline,
input[type=button].inline {padding:3px 8px}
input[type=submit]:focus,
input[type=button]:focus,
input[type=submit]:hover,
input[type=button]:hover{background-color:#1364B7;cursor:pointer}
select {padding:2px 5px 2px 2px;border:solid 1px #d0d0d0}
textarea {padding:5px 8px}
#jumpto {padding:0;width:120px;color:#aaaaaa;border:solid 1px #d0d0d0;font-style:italic}
#jumpto option {font-style:normal}
#jumpto option:disabled {color:#aaaaaa;font-style:italic}
#dopreview {background-color:#888888}
#dopreview:hover {background-color:#1364B7}

/* MESSAGEBOX */

div.msgbox {width:450px;margin:20px auto 20px auto;padding:0;border:solid 1px #e0e0e0;box-shadow:3px 3px 4px #cccccc}
div.msgboxtitle {margin:0;padding:7px 25px;background-color:#e8e8e8;font-size:16pt}
div.msgboxbody {margin:0;padding:20px 25px;background-color:#f6f6f6}

div.msgboxbody table {border:solid 1px #dddddd}
div.msgboxbody th,
div.msgboxbody td {padding:4px;vertical-align:middle;border-bottom:solid 1px #dddddd}

div.msgboxbody table.t-data.horiz {margin-bottom:7px;border-bottom:none}
div.msgboxbody table.t-data.horiz th {width:125px;padding-right:8px;background-color:#e8e8e8;text-align:right}

div.msgboxbody table.hidden {background-color:transparent;border:none}
div.msgboxbody table.hidden {background-color:transparent;border:none}
div.msgboxbody table.hidden td {padding:0;border:none;vertical-align:top}
div.msgboxbody table.hidden td.boxinfo {padding-right:10px}
div.msgboxbody table.hidden td.boxform {padding-left:10px}
div.msgboxbody p.submit {margin:10px 0;text-align:right}
div.msgboxbody p.exit {margin:0;text-align:right}

/* Layout icons */

img.i-sec {width:32px;height:32px}
img.i-user {width:15px;height:15px;vertical-align:top}
img.i-up {width:10px;height:10px;vertical-align:bottom;margin:0 10px 2px 13px}
img.i-down {width:10px;height:10px;vertical-align:top;margin:2px 10px 0 13px}

/* PICTURE */

img.userpicture {padding:8px;max-width:130px;border:solid 1px #dddddd;background-color:white;border-radius:5px;box-shadow:2px 2px 4px #bbbbbb}
p.picture {margin:5px;color:#444444}
p.picture.username {font-size:9pt}
p.picture.userstatus {font-size:9pt}

/* INFO legend */

table.info {margin:0 0 5px 0;width:100%;border-bottom:1px solid #cccccc}
table.info td {padding:0;vertical-align:top}
div.infobox {width:250px;padding:5px 8px;color:#777777;font-size:10pt}
div.infobox.stat {margin:5px auto 10px 0}
div.infobox.details {margin:5px auto}
div.infobox.legend {margin:5px 0 10px auto}
div.infobox h1 {margin:0 0 5px 0;font-style:normal;font-size:14pt;color:#aaaaaa}
div.infobox p {margin:0 0 5px 0}
div.infobox a {color:#777777;text-decoration:underline}

/* ==== MEDIA LARGE ==== */

@media screen and (min-width:1024px)
{
#page {margin:0 auto 0 auto;width:1000px;text-align:left}
#body-ct {padding:25px 35px}
div.infobox.stat {width:300px}
div.infobox.legend {width:250px}
}

/* ==== MEDIA SMALL ==== */

@media screen and (min-width:641px) and (max-width:870px)
{
body {margin:0}
#page {margin:0;width:100%;text-align:left}
#menuapp span, #menuapp a, #banner #menuapp span, #banner #menuapp a {padding:4px 6px}
div.infobox {width:180px}
#body-ct {padding:10px}
}

/* ==== MEDIA EXTRA SMALL ==== */

@media screen and (min-width:501px) and (max-width:640px)
{
body {margin:0}
div.welcome {display:none}
#page {margin:0;width:100%;text-align:left}
#menuapp span, #menuapp a, #banner #menuapp span, #banner #menuapp a {padding:4px 6px}
#menuapp span.secondary, #menuapp a.secondary, #banner #menuapp span.secondary, #banner #menuapp a.secondary {display:none}
div.msgbox {width:auto;margin:10px auto 10px auto}
div.msgboxbody {padding:10px}
div.infobox {width:180px}
#body-ct {padding:5px}
}

@media handheld,screen and (max-width:500px)
{
div.welcome {display:none}
body {margin:2px}
#page {margin:0 auto 0 auto;width:100%;text-align:left}
div.body-in {border-style:none}
#body-ct {padding:5px 0}
#menuapp span, #menuapp a, #banner #menuapp span, #banner #menuapp a {padding:4px 6px}
#menuapp span.secondary, #menuapp a.secondary, #banner #menuapp span.secondary, #banner #menuapp a.secondary {display:none}
div.footerleft {float:none;margin:0 0 5px 0}
table.info td {display:block}
div.msgbox {width:auto;margin:10px auto 10px auto}
div.msgboxbody {padding:10px}
div.msgboxbody td {display:block}
div.infobox {width:95%}
div.infobox.stat,
div.infobox.details,
div.infobox.legend {margin:5px auto}
a.button {margin:3px 0 3px 3px;padding:3px 5px}
#body-ct {padding:1px}
}

/* ==== PRINT ==== */

@media print
{
html {background-color:#ffffff}
body {margin:0;background:none;background-color:#ffffff}
#page {width:100%;background-color:#ffffff;border:none;box-shadow:none}
#body {border:none}
#body-ct {padding:15px 0;background-color:#ffffff}
img.i-modes {display:none}
label[for=jumpto], #jumpto {display:none}
div.msgbox {width:90%;box-shadow:none}
div.msgboxbody {background-color:#ffffff}
div.lettres input[type=text] {display:none}
div.lettres input.search {display:none}
}