div.pg-login div.msgbox,
div.pg-userpwd div.msgbox,
div.pg-username div.msgbox,
div.pg-register div.msgbox {width:350px}

div.pg-login div.msgboxbody,
div.pg-userpwd div.msgboxbody,
div.pg-username div.msgboxbody {text-align:right}
div.pg-register div.msgboxbody {text-align:left}

div.pg-login div.msgboxtitle,
div.pg-userpwd div.msgboxtitle,
div.pg-username div.msgboxtitle,
div.pg-register div.msgboxtitle {color:#ffffff;background-color:#007CFF;background-image:url(bg_login_header.gif);background-repeat:no-repeat;background-position:top right;height:40px}

div.msgboxbody i.fa {margin:0 10px 0 0;color:#666666}

div.scrollmessage {margin:0 auto 10px auto;padding:4px 8px;background-color:#ffffff;border:solid 1px #aaaaaa;height:175px;overflow:auto}
fieldset.register {margin:0 0 12px 0;padding:8px;text-align:right;border:solid 1px #0080FF}
fieldset.register legend {color:#0080FF;font-weight:bold}
fieldset.register select, fieldset.register input {margin:0 0 3px 0}

div.profilecmd {float:right;margin:0 0 0 10px}
table.profile {margin:10px 0 0 0}
td.profileleft {width:175px}
td.profileleft p {margin:5px 0}
td.profileleft hr {margin-left:0;width:50%;text-align:left;border:0;height:1px;background:#cccccc}

/* Data table */

table.t-data {background-color:#FFFFFF;border:solid 1px #999999}
table.t-data th {padding:4px;vertical-align:middle;background-color:#dddddd}
table.t-data td {padding:4px;vertical-align:middle;border-bottom:solid 1px #dddddd}

div.userprofile table.t-data th {width:130px;text-align:right}
td.info i {margin:0}

/* PICTURE */

#imguser {margin-bottom:10px;padding:5px;max-width:175px;background-color:#ffffff;border:solid 1px #dddddd;border-radius:5px;box-shadow:0 0 4px #bbbbbb}
div.picbox {display:inline-block;max-width:180px;padding:6px 2px;text-align:center}
img.picbox {max-width:175px;padding:5px;background-color:#ffffff;border:solid 1px #dddddd;border-radius:5px;box-shadow:0 0 4px #bbbbbb}
div.picbox p {margin:3px 0;text-align:center}


/* Special */

textarea#text {width:95%;resize:vertical}

/* ==== MEDIA SMALL ==== */

@media screen and (min-width:641px) and (max-width:870px)
{
td.profileleft,
td.profileright {display:block;width:100%}
td.profileleft img.picbox {display:block}
td.profileleft p {display:inline-block;margin-left:5px}
td.profileleft a {padding-right:5px;border-right:solid 1px #aaaaaa}
hr, td.profileleft p.secondary, h1.secondary {display:none}
}

/* ==== MEDIA EXTRA SMALL ==== */

@media screen and (min-width:501px) and (max-width:640px)
{
td.profileleft,
td.profileright {display:block;width:100%}
td.profileleft img.picbox {display:block}
td.profileleft p {display:inline-block;margin-left:5px}
td.profileleft a {padding-right:5px;border-right:solid 1px #aaaaaa}
hr, td.profileleft p.secondary, h1.secondary {display:none}
}

@media handheld,screen and (max-width:500px)
{
div.msgbox.login {width:98%}
td.profileleft,
td.profileright {display:block;width:100%}
td.profileleft img.picbox {display:block}
td.profileleft p {display:inline-block;margin-left:5px}
td.profileleft a {padding-right:5px;border-right:solid 1px #aaaaaa}
hr, td.profileleft p.secondary, h1.secondary {display:none}
}